<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <title>Rails with webpack | public</title>

  <%= stylesheet_link_tag assets_path('public.css'), media: 'all' %>
</head>

<body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
  <%= yield %>
  <%= javascript_include_tag assets_path('public.js') %>
</body>
</html>
